{{#if message}}
<div style="text-align: center" class="alert alert-{{message.type}}">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>{{message.intro}}</strong> {{message.message}}
</div> 
{{/if}}



<form class="formulario" action="/pedido" method="POST"> 
	<p>Faça seu pedido</p>
	<div class="field">
		<label for="cpf">CPF: *</label>
		<input type="text" id="cpf" name="cpf" placeholder="Digite seu cpf" required>
	</div>
	<div class="field">
		<label for="ped">Pedido: *</label>
		<input type="text" id="ped" name="ped" placeholder="Digite seu pedido <1 opção por vez>" required>
	</div>
    <div class="field">
		<label for="quantidade">Quantidade: *</label>
		<input type="text" id="quantidade" name="quantidade" placeholder="Digite a quantidade do pedido*" required>
	</div>
	<div class="field">
		<label for="dataentrega">Data da entrega: *</label>
		<input type="date" id="dataentrega" name="dataentrega" placeholder="Marque o dia*" required>
	</div>
	<div class="field">
		<label for="horaentrega">Horário: *</label>
		<input type="time" id="horaentrega" name="horaentrega" placeholder="Marque o horário" required>	
	</div>
	
    <input type="submit" name="acao" value="Enviar">
</form>