
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>The Sweet Bakery</title>
    <link rel="stylesheet" href="estilos/style.css">

    <!--icones-->
    <script src="https://kit.fontawesome.com/31e479d02a.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="cabecalho">
        <div class = "container">
            <h1 class="titulo">The Sweet Bakery</h1>
            <nav class="cabecalho-nav">
            <a class="cabecalho-nav-link" href="/">Produtos</a>
            <a class="cabecalho-nav-link" href="/login">Login</a>
            <a class="cabecalho-nav-link" href="/senhaAlterar">Alterar Senha</a>
            <a class="cabecalho-nav-link" href="/cadastro">Cadastre-se</a>
            </nav>
        </div> 
    </header>
    <main>
        {{{body}}}
    </main>

   <footer class=rodape>
		<div class = rodape-final>
			<p class="rodape-final-paragrafo">&copy; Trabalho DAW 2021 </p>
			<p class="rodape-final-creditos">Desenvolvido por: Isabela Ferreira Scarabelli, Tainara Marina Gonçalves Morais e Tatiane Vitória de Oliveira // Turma: 303</p>
		</div>
	</footer>
</body>
</html>
